html, body {
    margin: 0;
    font-family: Verdana;
}

#navbar {
    background-color: #ddd;
    line-height: 50px;
    display: block;
    padding-left: 10px;
}

.navbar-controls {
    position: absolute;
    right: 10px;
    top: 0;
}

#editor {
    background-color: #eee;
    height: 200px;
}

#preview {
    padding: 10px;
}

.editor-textarea {
    padding: 10px;
    border: 0;
    width: 100%;
    height: 100%;
    resize: none;
    font-family: monospace;
    font-size: 14px;
    background: transparent;
}

.editor-textarea:focus {
    outline: none;
}